# ==========================================
# NutriGraph AI - Environment Variables
# ==========================================

# LLM & Vision Inference (Groq)
GROQ_API_KEY=your_groq_api_key_here

# Nutrition API (USDA FoodData Central)
USDA_API_KEY=your_usda_api_key_here

# LangSmith Observability (Opsional)
LANGSMITH_TRACING_V2=false
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGSMITH_PROJECT=nutrigraph_ai

# FatSecret API (Opsional)
FATSECRET_CLIENT_ID=your_fatsecret_client_id_here
FATSECRET_CLIENT_SECRET=your_fatsecret_client_secret_here

# Frontend API Target (Digunakan oleh Streamlit)
API_URL=http://backend:8000/api/v1/analyze
