# Environment Variables
.env
.env.*
!.env.example

# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/

# Virtual Environments
venv/
.venv/
env/
ENV/

# Application runtime cache
.cache/
script/.cache/
data/cache/

# Vector Store local database (dibuat via script/ingest_data.py)
data/chroma_db/
data/checkpoints/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/